<div class="container" id="scroll">
  <div class="header">
    <h1 class="header-text">Gif Search</h1>
    <div class="align-input">
      <input
        class="input-style"
        [placeholder]="placeHolderText"
        [(ngModel)]="searchVal"
      />
      <select
        class="dropdown-style"
        [(ngModel)]="optionSelected"
        (ngModelChange)="onOptionsSelected($event)"
      >
        <option
          *ngFor="let summary of categoriesList"
          [selected]="summary === optionSelected"
          [value]="summary"
        >
          {{ summary | titlecase }}
        </option>
      </select>
      <button class="search-icon" (click)="search()">
        <img src="../assets/search.svg" alt="search" />
      </button>
    </div>
    <p style="font-size: 30px">You can search any gif with our search</p>
    <p style="font-size: 18px">
      Everything you need for your creative projects. websites, banners,
      presentations, magazines and advertising.
    </p>
  </div>
  <div class="main-section">
    <div class="first-column-wrapper">
      <div
        class="first-column"
        *ngFor="let result of giphyService.searchResults$ | async"
      >
        <img
          [src]="
            result &&
            result.images &&
            result.images.preview_webp &&
            result.images.preview_webp.url
          "
          [alt]="result.title"
          style="width: 100%"
        />
      </div>
    </div>
    <div class="second-column-wrapper">
      <div
        class="second-column"
        *ngFor="let result of giphyService.searchResults$ | async"
      >
        <img
          [src]="
            result &&
            result.images &&
            result.images.preview_webp &&
            result.images.preview_webp.url
          "
          [alt]="result.title"
          style="width: 100%"
        />
      </div>
    </div>
    <div class="third-column-wrapper">
      <div
        class="third-column"
        *ngFor="let result of giphyService.searchResults$ | async"
      >
        <img
          [src]="
            result &&
            result.images &&
            result.images.preview_webp &&
            result.images.preview_webp.url
          "
          [alt]="result.title"
          style="width: 100%"
        />
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
  <div style="margin-left: 3%">
    <div class="align-icons">
      <ul class="align-footer">
        <li><a href="#">Affiliates / </a></li>
        <li><a href="#">Contributers / </a></li>
        <li><a href="#">Press/Media / </a></li>
        <li><a href="#">Careers / </a></li>
        <li><a href="#">About / </a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <span>
        <img
          (click)="redirect('facebook')"
          src="../assets/facebook.svg"
          alt="facebook"
        />
        <img
          (click)="redirect('twitter')"
          src="../assets/twitter.svg"
          alt="twitter"
        />
        <img
          (click)="redirect('google')"
          src="../assets/google.svg"
          alt="google"
        />
        <img (click)="redirect('rss')" src="../assets/rss.svg" alt="rss" />
      </span>
    </div>
    <p>Copyright &copy; 2018 myCompany All Rights Reserved</p>
  </div>
</div>
